.zoom-plugin-header {
  padding: 10px 0 12px 35px;
  max-width: 760px;
  margin: auto;
  box-sizing: border-box;
}

.is-mobile .zoom-plugin-header {
  padding: 20px 0 20px 35px;
}

.zoom-plugin-title {
  text-decoration: underline;
  cursor: pointer;
}

.zoom-plugin-delimiter {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.is-mobile .zoom-plugin-delimiter {
  margin: 0 20px 0 20px;
}

.zoom-plugin-bls-zoom .cm-editor .cm-formatting-list-ol,
.zoom-plugin-bls-zoom .cm-editor .cm-formatting-list-ul {
  cursor: pointer;
}

.zoom-plugin-bls-zoom
  .markdown-source-view.mod-cm6
  .cm-fold-indicator
  .collapse-indicator {
  margin-right: 6px;
  padding-right: 0;
}

.zoom-plugin-bls-zoom
  .markdown-source-view.mod-cm6
  .cm-line:not(.cm-active):not(.HyperMD-header):not(.HyperMD-task-line)
  .cm-fold-indicator
  .collapse-indicator {
  margin-right: 18px;
  padding-right: 0;
}
