.zoom-plugin-header {
  padding: 10px 0 12px 35px;
  max-width: 760px;
  margin: auto;
  box-sizing: border-box;
}

.is-mobile .zoom-plugin-header {
  padding: 20px 0 20px 35px;
}

.zoom-plugin-title {
  text-decoration: underline;
  cursor: pointer;
}

.zoom-plugin-delimiter {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.is-mobile .zoom-plugin-delimiter {
  margin: 0 20px 0 20px;
}

.zoom-plugin-bls-zoom .cm-editor .cm-formatting-list-ol {
  cursor: pointer;
}

.zoom-plugin-bls-zoom .cm-editor .cm-formatting-list-ul:hover:before {
  cursor: pointer;
  content: "•";
  font-size: 200%;
  position: absolute;
  margin-top: -11px;
  margin-left: -5px;
}
